.chat-message-list-item-received, .chat-message-list-item-sended {
    max-width: calc(100vw - 37rem);
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.chat-message-list-item-received span, .chat-message-list-item-sended span {
    white-space: pre-wrap;
}

.chat-message-list-item-received p, .chat-message-list-item-sended p {
    font-size: 1.2rem;
    margin: 0;
    align-self: flex-end;
}

.chat-message-list-item-received {
    background: var(--color-tertiary-dark);
    margin: 5px 50px 5px 5px;
    border-radius: 0px 12px 12px 12px;
    color: var(--color-title-dark);
}


.chat-message-list-item-sended {
    background: var(--color-background-dark);
    margin: 5px 5px 5px 50px;
    border-radius: 12px 12px 0px 12px;
    color: var(--color-title-dark);
}

.chat-messages-load-more {
    width: 100%;
    text-align: center;
    color: var(--color-title-dark);
    margin-bottom: 5px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid var(--color-background-dark); */
    margin-top: -5px;
    transition: .5s;
}

.chat-messages-load-more:hover {
    cursor: pointer;
    filter: brightness(.7);
}