#chat-page {
  display: flex;
  flex-direction: row;
  height: calc(100%);
}

#chat-page .card-conversation-list {
  background: var(--color-secondary-dark);
  border-radius: 6px;
  width: 30%;
  margin-right: 8px;
  padding: 8px;
}

#chat-page .card-conversation-chat {
  background: var(--color-secondary-dark);
  border-radius: 6px;
  width: 70%;
}

#chat-page .chat-user-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--color-tertiary-dark);
  border-radius: 6px;
  margin: 4px 0;
  padding: 4px;
  transition: .5s;
}

#chat-page .chat-user-item:hover {
    cursor: pointer;
    filter: brightness(.7);
}

#chat-page .chat-user-item .chat-user-item-img {
  background-color: var(--color-tertiary-dark);
  border-radius: 50%;
  padding: 5px;
  width: 45px;
  margin-right: 8px;
}

#chat-page .chat-user-item img {
  width: 100%;
}

#chat-page .chat-user-item-name {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#chat-page .chat-user-item-name strong {
    font-size: 1.7rem;
    color: var(--color-title-dark);
}

#chat-page .chat-user-item-last-message-text, #chat-page .chat-user-item-last-message-date {
    font-size: 1.3rem;
    color: var(--color-subtitle-dark);
}

#chat-page .chat-user-item-last-message-date {
    display: flex;
}