@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('~antd/dist/antd.css');

:root {
  font-size: 60%;
}

:root {
  --color-background-dark: #1B1B1E;
  --color-primary-dark: #2D68FF;
  --color-secondary-dark: #313440;
  --color-tertiary-dark: #60616B;
  --color-title-dark: #fff;
  --color-subtitle-dark: #B1B1B1;
  --color-text-base-dark: #fff;

  --color-error: #EC1111;
  --color-success: #0FC000;
  --color-warning: #E9EE09;
}

.light-mode {
  --color-background-dark: #ebf1f3;
  --color-primary-dark: #2D68FF;
  --color-secondary-dark: #cfebf7;
  --color-tertiary-dark: #00b7ff;
  --color-title-dark: #000;
  --color-subtitle-dark: #1B1B1E;
  --color-text-base-dark: #000;

  --color-error: #EC1111;
  --color-success: #0FC000;
  --color-warning: #E9EE09;
}

html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-background-dark);
}

body, input, button, textarea {
  font: 400 1.6rem Lato, sans-serif;
  color: var(--color-text-base);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-tertiary-dark); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-subtitle-dark); 
}

.ant-btn {
  text-transform: uppercase;
}

.ant-alert {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
}

.ant-select {
  width: 100%;
}

.ant-picker {
  width: 100%;
}

.ant-btn {
  border-radius: 6px;
}

.ant-btn-primary {
  background-color: var(--color-primary-dark);
  border: none;
  border-radius: 6px;
}

.ant-empty {
  color: var(--color-text-base-dark);
}

.ant-spin-nested-loading, .ant-spin-container {
  height: 100%;
}

.icon-success {
  color: var(--color-success);
}

.icon-warning {
  color: var(--color-warning);
}

.icon-error {
  color: var(--color-error);
}

@media (min-width: 700px) {
  :root {
      font-size: 62.5%;
  }
}