.input-simple {
    border-radius: 6px;
}

.input-simple input {
    height: 32px;
}

.ant-input-affix-wrapper-textarea-with-clear-btn {
    border-radius: 6px;
}

.input-simple .anticon:nth-child(2), .input-simple .ant-input-password-icon {
    color: var(--color-primary-dark);
}

.ant-picker {
    border-radius: 6px;
}

.ant-picker input {
    height: 32px;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.input-simple .ant-input-group-addon, .input-simple .ant-btn-primary {
    height: 47px;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}