#news-page {
  display: flex;
  flex-direction: column;
  height: calc(100%);
}

#news-page .ant-spin-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#news-page main {
  height: calc(100vh - 95px);
  display: flex;

}

#news-page main .news-content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px 12px;
  grid-template-areas:
    ". ."
    ". .";
}

#news-page main .ant-pagination {
  align-self: center;
  margin-top: 8px;
}

#news-page .card {
  height: 350px;
  overflow: auto;
  background: var(--color-secondary-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  word-break: break-all;
  padding: 8px;
}

#news-page .card  p {
    font-size: 1.2rem;
    color: var(--color-subtitle-dark);
}

#news-page .card h3, #news-page .card span {
    color: var(--color-text-base-dark);
}

#news-page .card h3 {
  flex: 1;
}

#news-page .card img {
    width: 100%;
    margin-bottom: 8px;
}

@media (max-width: 600px) {
  #news-page .news-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "."
      "."
      "."
      ".";
  }
}
